{% extends "home.html" %}
{% block content %}
      <form id="form1" method="post" action="/Check_Matching" enctype="multipart/form-data" class="form">
        <div class="container" style="margin: 5% 0 0 20%;">
        <input type='file' id="imgInp" name="user_image" class="btn btn-primary"/>
        <img id="blah" src="{{f}}" alt="your image" width="150" height="150" />
        </div>
        <div class="row" style="margin: 2% 0 0 53%;">
        <input type="submit" class="btn btn-success" id="" value="Do Match">
        </div>
       </form>

       <hr style="width:100%;text-align:left;margin-left:0">
        <h2>Matching Clothes in Your Closet</h2>
        <hr style="width:100%;text-align:left;margin-left:0">
        <div class="row">
          
          {% for k in matched_dict%}
            <!-- {% print (i)%} -->
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body" >
                      <!-- <h5 class="card-title">Card title</h5> -->
                      <p class="card-text">{{matched_dict[k]}}%</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                      <img src="{{k}}"  alt="ok" class="image">
                    </div>
                  </div>
            </div>
          {% endfor %}  
         </div>

     </div> 
</body>
<script>
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#imgInp").change(function(){
    readURL(this);
});

</script>
{% endblock %}
