{% extends "home.html" %} {% block content %}

<hr style="width: 100%; text-align: left; margin-left: 0" />
<h2>{{typ}} Clothes</h2>
<hr style="width: 100%; text-align: left; margin-left: 0" />
<div class="row">
  {% for i in Clothes %}
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <img src="/{{i}}" alt="ok" class="image" />
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<hr style="width: 100%; text-align: left; margin-left: 0" />
<h2>Matching Combinations</h2>
<hr style="width: 100%; text-align: left; margin-left: 0" />

<div class="row">
  {% for i in range(0,length) %}
  <div class="col-sm-3">
    <div class="card" style="margin-top: 20px">
      <div class="card-body">
        <img src="/{{Upper[i]}}" alt="ok" class="image" />
      </div>
    </div>
    <hr />
  </div>

  <div class="col-sm-9">
    <div class="row">
      {% for j in Final_array[i] %}
      <!-- {% print (i)%} -->
      <div class="col-md-3 col-sm-6">
        <div class="card" class="image" style="margin-top: 20px">
          <div class="card-body">
            <img src="/{{j}}" alt="ok" class="image" />
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
