{% extends "home.html" %}
{% block content %}
      <form
        class="form"
        method="post"
        action="/your_closet"
        enctype="multipart/form-data"
        style="text-align: center"
      >
        <input type="file" id="user_image" name="user_image" hidden />
        <input
          id="buttonid"
          type="button"
          class="btn btn-primary"
          value="SELECT CLOTHING"
        />
        <input
          type="submit"
          class="btn btn-primary"
          id="submit_clothing"
          value="ADD CLOTHING"
        />
      </form>

      <hr style="width: 100%; text-align: left; margin-left: 0" />
      <h2>T-SHIRTS</h2>
      <hr style="width: 100%; text-align: left; margin-left: 0" />
      <div class="row T-shirts">
        {% for i in Tshirts %}

        <div class="col-md-3 col-sm-6" style="margin-top: 2%;">
          <div class="card" style="max-height:100%;min-height:100%">

            <div
              class="card-body close-button"
              id="static\wardrobe_users\{{user}}\T-shirts\{{i}}"
              onclick="mydelete(this.id)"
            >
              <img
                src="static\wardrobe_users\{{user}}\T-shirts\{{i}}"
                alt="ok"
                class="image"
                style="max-height:90%;min-height:90%"
              />
              <!-- <p>
                <i
                  class="fa fa-trash"
                  id="static\wardrobe_users\{{user}}\T-shirts\{{i}}"
                  onclick="mydelete(this.id)"
                  style="font-size: 20px; color: red"
                ></i>
              </p> -->
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <hr style="width: 100%; text-align: left; margin-left: 0" />
      <h2>SHIRTS</h2>
      <hr style="width: 100%; text-align: left; margin-left: 0" />
      <div class="row">
        {% for i in Shirts %}
        <div class="col-md-3 col-sm-6" style="margin-top: 2%;">
          <div class="card" style="max-height:100%;min-height:100%">
            <div
              class="card-body close-button"
              id="static\wardrobe_users\{{user}}\Shirts\{{i}}"
              onclick="mydelete(this.id)"
            >
              <img
                src="static\wardrobe_users\{{user}}\Shirts\{{i}}"
                alt="ok"
                class="image"
                style="max-height:90%;min-height:90%"
              />
              <!-- <p>
                <i class="fa fa-trash" onclick="mydelete(this.id)"></i>
              </p> -->
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <hr style="width: 100%; text-align: left; margin-left: 0" />
      <h2>SHORTS</h2>
      <hr style="width: 100%; text-align: left; margin-left: 0" />
      <div class="row">
        {% for i in Shorts %}
        <div class="col-md-3 col-sm-6" style="margin-top: 2%;">
          <div class="card" style="max-height:100%;min-height:100%">
            <div
              class="card-body close-button"
              id="static\wardrobe_users\{{user}}\Shorts\{{i}}"
              onclick="mydelete(this.id)"
            >
              <img
                src="static\wardrobe_users\{{user}}\Shorts\{{i}}"
                alt="ok"
                class="image"
                style="max-height:90%;min-height:90%"
              />
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <hr style="width: 100%; text-align: left; margin-left: 0" />
      <h2>PANTS</h2>
      <hr style="width: 100%; text-align: left; margin-left: 0" />
      <div class="row">
        {% for i in Pants %}
        <div class="col-md-3 col-sm-6" style="margin-top: 2%;">
          <div class="card" style="max-height:100%;min-height:100%;">
            <div
              class="card-body close-button"
              id="static\wardrobe_users\{{user}}\Pants\{{i}}"
              onclick="mydelete(this.id)"
            >
              <img
                src="static\wardrobe_users\{{user}}\Pants\{{i}}"
                alt="ok"
                class="image"
                style="max-height:90%;min-height:90%"
              />
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <hr style="width: 100%; text-align: left; margin-left: 0" />
      <h2>JACKETS</h2>
      <hr style="width: 100%; text-align: left; margin-left: 0" />
      <div class="row">
        {% for i in Jackets %}
        <div class="col-md-3 col-sm-6" style="margin-top: 2%;">
          <div class="card" style="max-height:100%;min-height:100%;">
            <div
              class="card-body close-button"
              id="static\wardrobe_users\{{user}}\Jackets\{{i}}"
              onclick="mydelete(this.id)"
            >
              <img
                src="static\wardrobe_users\{{user}}\Jackets\{{i}}"
                alt="ok"
                class="image"
                style="max-height:90%;min-height:90%"
              />
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
  <script>
    document.getElementById("submit_clothing").style.display = "none";
    document.getElementById("buttonid").addEventListener("click", openDialog);

    function openDialog() {
      document.getElementById("user_image").click();
      document.getElementById("submit_clothing").style.display = "inline";
      document.getElementById("buttonid").style.display = "none";
    }

    function mydelete(id) {
      console.log(id);
      $.ajax({
        data: {
          id: id,
        },
        type: "POST",
        url: "/delete",
      });
      setTimeout(function () {
        location.reload();
      }, 1000);
    }
  </script>
  
{% endblock %}
